{% load static %}
{% load custom_filter_tags %}
<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="description" content="O seu blog pessoal">

        <meta name="author" content="blog, noticias, tecnologia, postagens, artigos">

        <link rel="shortcut icon" type="image/x-icon" href="/media/static/logo.ico">

        <title>
            {% block title %}{% endblock title %}
        </title>
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        {% block styles %}{% endblock styles %}

        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    </head>
    <body>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-nav blygour" href="{% url 'posts:posts-list' %}">BLYGOUR</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_authenticated%}
                            <li class="nav-item button-post">
                                <a class="nav-link" href="{% url 'posts:add-post' %}">Publicar</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Publicar</a>
                            </li>
                        {% endif %}

                        <form action="{% url 'posts:posts-list' %}" class="form-inline my-2 my-lg-0 form-search" method='GET'>
                            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Titulo " id="search-input" name="search" value="{{ request.GET.search }}">
                            <button class="btn button-search search-button" type="submit">
                                <i class="fas fa-search" id="search-icon"></i>
                            </button>
                        </form>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categorias
                            </a>
                            <div class="dropdown-menu user" aria-labelledby="navbarDropdown">
                                
                                {% for tag in tags|slice:5 %}
                                    <a href="{% url 'posts:index_tagged' tag %}" class="dropdown-item">
                                        {{ tag.name|slice:"10" }}
                                    </a>
                                {% endfor %}
                            </div>
                        </li>

                    </ul>
                    <ul class="navbar-nav mr-2">
                        {% if user.is_authenticated%}
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    
                                    <img class='user-picture' src="{% check_profile_picture_exists request.user.profile_picture %}" alt="Default profile picture">
                                    <span class="dropdown-perfil">{{ request.user }}</span>
                                </a>

                                <div class="dropdown-menu user" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'posts:profile_user' user.username %}">Meu Perfil</a>
                                    <a class="dropdown-item" href="{% url 'users:edit_account' %}">Configurações</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container messages">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class='alert alert-{{ message.tags }}' {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="container conteudo">
            {% block content %}{% endblock content %}

            {% block pagination %}
                <nav class='pages'>
                    <ul class="pagination">

                        {# Páginação anterior #}
                        {% if posts.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.previous_page_number }}">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.previous_page_number }}">{{ posts.previous_page_number }}</a>
                            </li>

                        {% endif %}

                        {# Paginação atual #}
                        {% if posts.paginator.num_pages %}
                            <li class="page-item actual-page">
                                <a class="page-link" href="?page={{ posts.number }}">{{ posts.number }}</a>
                            </li>
                        {% endif %}

                        {# Paginação posterior #}
                        {% if posts.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.next_page_number }}">{{ posts.next_page_number }}</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.paginator.num_pages }}" aria-label="Last">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>

                        {% endif %}

                    </ul>
                </nav>
            {% endblock pagination %}
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small special-color-dark pt-4">

            <!-- Footer Elements -->
            <div class="container">

                <!-- Social buttons -->
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-fb mx-1 fa-lg" href='#'>
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-tw mx-1 fa-lg" href='#'>
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-gplus mx-1 fa-lg" href='#'>
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-li mx-1 fa-lg" href='#'>
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-dribbble mx-1 fa-lg" href='#'>
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                </ul>
                <!-- Social buttons -->

            </div>
            <!-- Footer Elements -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a>
                    Rede Blygour</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="https://kit.fontawesome.com/043d15ebbd.js" crossorigin="anonymous"></script>

        <script src="{% static 'js/javascript.js' %}"></script>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


        {% block scripts %}{% endblock scripts %}
    </body>
</html>