{% extends 'base.html' %}
{% load static %}

{# Chama o crispy #}
{% load crispy_forms_tags %}

{% block title %}Editar Perfil{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock styles %}

{% block content %}
    {# offset-1 --> Centralizado nas 10 colunas #}
    <div class="container">
        {% if success %}
            <div class="alert alert-success" role="alert">
                Seu perfi foi alterado com sucesso!
            </div>
        {% endif %}
        <div class="row">
            <div class="col-3">
                    <ul class="list-group">
                        <a href="{% url 'users:edit_account' %}" class="list-group-item list-group-item-action active">Editar Conta</a>
                        <a href="{% url 'users:edit_password' %}" class="list-group-item list-group-item-action">Editar Senha</a>                      
                    </ul>
            </div>
            <div class="col-9">
                <div class="card auth-card">
                    <div class="card-body">
                        <h3 class="card-title text-center" style="color:black">Editar Perfil</h3>

                        <form method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">

                            {{ form|crispy }}
                            <button type="submit" class="btn btn-block">Editar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}