{% extends 'base.html' %}
{% load static %}

{# Chama o crispy #}
{% load crispy_forms_tags %}

{% block title %}Recuperar Senha{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block content %}
    {# offset-1 --> Centralizado nas 10 colunas #}
    <div class="container-fluid login">
        <div class="row">
            <div class="div col-md-6 offset-md-3">
                <div class="card auth-card">
                    <div class="card-body">
                        <h4 class="card-title text-center" style="color:black">Recuperar Senha</h4>

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">

                            {{ form|crispy }}
                            <button type="submit" class="btn btn-submit btn-block">Recuperar Senha</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}