{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    Publicar
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/add-post.css' %}">
{% endblock styles %}

{% block content %}

    <div class="container postagem">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="field">
                {{ form.title }}
                {{ form.tags }}
                {{ form.text }}

            </div>

            <div class='form-group image'>
                <label for='input-file' onclick="postarImagem()">
                   <i class="fas fa-images"></i>
                </label>
                {{ form.image }}
                <span id='file-name'></span>

                
                <input type="submit" class="btn btn-submit" value="Enviar">
            </div>

        </form>

        

    </div>

{% endblock content %}