{% extends 'posts/index.html' %}
{% load static %}

{% block title %}
    Página Inicial
{% endblock title %}

{% block content %}

    <div class="container view-posts details">

        {% block user_informations %}
            {{ block.super }}
        {% endblock user_informations %}


        <div class="row title">
            <div class="col-1"></div>
            <div class="col-10">
                <h2>{{ post.title }}</h2>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row post">
            <div class="col-1"></div>

            <div class="col-10 image">
                {% if post.image %}
                    <img src="/media/{{ post.image }}" class="img-thumbnail" alt="{{ post.title }}">
                {% endif %}
                {{ post.text|linebreaks }}
            </div>
            
        </div>

        <div class="col-1"></div>
    </div>

</div>

{% endblock content %}