{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    {{ user }}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock styles %}

{% block content %}

    {% for post in posts %}
        <div class="container view-posts">

            {% block user_informations %}
                <div class="row user">
                    <div>
                            {% if post.user.profile_picture %}
                                <img class='user-picture' src="/media/{{ post.user.profile_picture }}" alt="Profile Picture {{ post.user }}">
                            {% else %}
                                <img class='user-picture' src="/media/static/avatar.png" alt="Default profile picture">
                            {% endif %}
                    </div>

                    <div class="col">
                        <h5>
                           {{ post.user }}
                        </h5>

                        <h6 class="data-update">Atualizado em:
                            {{ post.updated_at|date:"d M Y" }}</h6>

                    </div>

                    {% if user.is_authenticated %}
                        <div class="col-2 col-sm-1 col-md-1 col-lg-1">

                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                {% if user == post.user %}
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{% url 'posts:edit-post' post.id %}">
                                            <i class="fas fa-edit"></i>
                                            Editar</a>
                                        <a class="dropdown-item" href="{% url 'posts:delete-post' post.id %} ">
                                            <i class="fas fa-trash"></i>
                                            Excluir</a>
                                    </div>
                                {% else %}
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-ban"></i>
                                            Denunciar</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endblock user_informations %}

            <a href="{% url 'posts:posts-view' post.id %}">
                <div class="row title">
                    <div class="col-12">
                        <h2>
                            <strong>{{ post.title|upper }}</strong>
                        </h2>
                    </div>
                </div>

                <div class="row post">
                    <div class="col-12">
                        {% if post.image %}
                            <img src="/media/{{ post.image }}" class="img-thumbnail" alt="{{ post.title }}">
                        {% endif %}

                        {{ post.text|truncatechars:"650"|linebreaks }}

                        {% for tag in post.tags.all %}
                            <a href="{% url 'posts:index_tagged' tag %}" class="tags">
                                <button type="button" class="btn btn-secondary btn-sm button-tags">
                                    <i class="fa fa-tag tags-text">{{ tag }}</i>
                                </button>
                            </a>
                        {% endfor %}

                    </div>
                </div>

            </a>
        </div>
        {% empty %}
        <div class="container">
            <div class="d-flex justify-content-center">
                <h1>{{ user }} ainda não publicou nada.</h1>
            </div>
        </div>
    {% endfor %}

{% endblock content %}