/* Formulário de postagens */
.container.postagem{
    border: 1px solid #9761E8;
}

.container.postagem .field{
    margin-top: 10px;
}

textarea{
    margin-top: 15px;
    resize: none;
}

input[type='text']:hover, input[type='text']:focus, 
#id_text:hover, #id_text:focus{
    box-shadow: none;
    border: 2px solid black;
    outline: none;
}

/* Campo de envio de imagem */
.form-group.image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

input[type='file'] {
    display: none;
}

.form-group.image i{
    font-size: 20px;
}

.form-group.image label {
    background-color: var(--roxo-principal);
    border-radius: 5px;
    color: #fff;
    padding: 6px 15px;
    margin-top: 8px;
    border: 1px solid black;
    font-weight: bold;
}

.form-group.image label:hover {
    background-color: var(--roxo-escuro);
}

/* Botão submit */
input[type='submit']{
    background-color: var(--roxo-principal);
    border: 1px solid black;
    color: white;
}

input[type='submit']:hover, input[type='submit']:focus{
    background-color: var(--roxo-escuro);
    color: white;
    box-shadow: 0px 2px 2px black;
    border: 1px solid black;)
}

.form-group.image span{
    margin-left: 10px;
    color: #fff;
}

