/* Formulário de postagens */
.container.postagem{
    border: 1px solid #9761E8;
}

.container.postagem .field{
    margin-top: 10px;
}

textarea{
    margin-top: 15px;
    resize: none;
}

.form-group.image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

input[type='file'] {
    display: none
}

.form-group.image i{
    font-size: 20px;
}

.form-group.image label {
    background-color: var(--roxo-principal);
    border-radius: 5px;
    color: #fff;
    padding: 6px 15px;
    margin-top: 8px;
    border: 1px solid black;
    font-weight: bold;
}

.form-group.image label:hover {
    background-color: var(--roxo-escuro)
}

.form-group.image input[type='submit']{
    background-color: var(--roxo-principal);
    border: 1px solid black;
    color: white;
}

.form-group.image input[type='submit']:hover{
    background-color: var(--roxo-escuro)
}

.form-group.image span{
    margin-left: 10px;
    color: #fff;
}


/* Mensagem */
ul.messages{
    padding: 0;
    text-align: center;
}

ul.messages li{
    list-style: none;
}
