/* Mensagem */
ul.messages{
    padding: 0;
    text-align: center;
}

ul.messages li{
    list-style: none;
}


/* Postagens */

.container.view-posts{
    border: 1px solid #9761E8;
}

.row.user{
    margin-bottom: 10px;
    margin-top: 15px;
}

.row.user img.user-picture{
    height: 70px;
	width: 70px;
	border-radius: 50vh;
}

.row.user .dropdown-toggle{
    color: white;
}

.row.user .dropdown-toggle:focus, .row.user .dropdown-toggle:hover {
    border: 1px solid white;
    box-shadow: none;
    background-color: var(--roxo-principal);
}

.row.user .dropdown-menu{
    background-color: var(--roxo-principal);
    border-radius: 8px;
    border: 1px solid white;
}
.row.user .dropdown-item{
    border-radius: 4px;
    color: white;
}

.row.user .dropdown-item:hover{
    background-color: var(--roxo-escuro);
    color: white;
}

.container.view-posts a{
    color: black;
}

.container.view-posts a:hover{
    color: black;
    text-decoration: none;
}
/* Postagem Titulo */
.container.view-posts .row.title h2{
    text-align: center;
    font-size: max(26px, 1.1vw);
    overflow-wrap: break-word;
}

/* Postagem Texto e Imagem */

.row.post{
    margin-top: 10px;
    margin-bottom: 10px;
}

.row.post.details{
    margin-bottom: 10px;
}

.row.post p{
    margin-right: 50px;
    font-size: max(18px, 0.8vw);
    overflow-wrap: break-word;
}


.row.post #div-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.post img{
    border-radius: 6px;
    float: right;
    max-height: 75vh;
    max-width: 55vw;
}