.fas.account{
    margin-right: 10px;
}

.list-group-item, .list-group-item:focus{
    font-size: min(18px, 3vw);
    border: 1px solid white; 
    background-color: #5A3B8C;
    color: white;
    text-align: center;
}

.list-group-item.active, .list-group-item:hover{
    background: var(--roxo-principal);
    border: 1px solid white; 
    color: white;
}

/* Campos de texto */
.form-control{
    box-shadow: none;
    border: 1px solid black;
}

.form-control:hover, .form-control:focus{
    box-shadow: 0px 2px 2px black;
    border: 1px solid black;
}

/* Botão submit */
.btn-submit{
    background-color: var(--roxo-principal);
    color: white;
    border: 1px solid black;
    margin: 10px 0;
}

.btn-submit:hover, .btn-submit:focus{
    background-color: var(--roxo-escuro);
    color: white;
    box-shadow: 0px 2px 2px black;
    border: 1px solid black;
}