/* Variaveis */
:root {
    --roxo-principal: #3B275C;
    --roxo-escuro: #241838;
    --roxo-claro: #5A3B8C;
}

/* Formatação padrão */
body{
    background-image: linear-gradient(to right, #472E6E, #5A3B8C, #472E6E);
}

h1, h2, h3, h4, h5, h6, p{
    color: white;
    font-family: 'Public Sans', sans-serif;
    text-shadow: 1px 1px 1px black;
    word-break: break-all;

}

a, a:hover, a:focus{
    text-decoration: none;
}

input, input:hover, input:focus,
.btn, .btn:hover, .btn:focus,
.form-control, .form-control:hover, .form-control:focus{
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 8px;
}

/* Navbar */
.navbar.navbar-expand-lg{
    background-color: var(--roxo-principal);
    border-bottom: 1px solid #2B1C42;
}

.navbar.navbar-expand-lg a:focus, .navbar.navbar-expand-lg a:hover{
    border-radius: 8px;
    background-color: var(--roxo-escuro);
    outline: none;
    box-shadow: 0px 2px 2px black;
}

/* Pesquisa */
.form-search {
    border-radius: 8px;
    background-color: white;
}

.form-search:hover{
    box-shadow: 0px 2px 2px black;
}

.search-button{
    color: var(--roxo-principal);
}

.search-button:hover #search-icon, .search-button:focus #search-icon{
    animation: shake 1.5s;
    animation-iteration-count: infinite;
}

/* Resto naavbar */
.navbar-nav.mr-auto li, .navbar-nav.mr-auto form{
    margin: 0 18px;
}

.navbar.navbar-expand-lg img.user-picture{
    height: 50px;
	width: 50px;
    border-radius: 50vh;
    margin-right: 15px;
}

.navbar.navbar-expand-lg .dropdown-perfil{
    font-size: 20px;
    font-weight: bold;
}

.navbar.navbar-expand-lg .navbar-nav.blygour{
    font-family: Georgia, 'Times New Roman', Times, serif;
    transform: rotate(-3deg);
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin-right: 50px;
}

.navbar-toggler{
    border: 1px solid #2B1C42;
}

.navbar-toggler .fas.fa-bars{
    font-size: 30px;
    color: white;
}

.navbar-brand{
    margin-right: 150px;
}

.navbar a{
    color: white;
}

.dropdown-menu.user{
    background-color: var(--roxo-escuro);
    border: 1px solid white;
}

.dropdown-menu.user a:hover, .dropdown-menu.user a:focus{
    color: white;
    border: none;
    border-radius: 0;
    background-color: var(--roxo-principal);
}

/* Mensagem */
.messages{
    margin-top: 10px;
}

ul.messages{
    padding: 0;
    text-align: center;
}

ul.messages li{
    list-style: none;
}

/* Corpo */
.conteudo{
    margin-top: 10px;
}
.conteudo .view-posts{
    background-image: linear-gradient(to right, #523680, #5A3B8C, #523680);
    border-radius: 8px;
}

/* Pesquisa */
.text-search{
    margin-bottom: 10px;
}
.text-center{
    margin-top: 10px;
}

/* Postagens */
.view-posts {
    border: 1px solid white;
    margin-top: 5px;
}

.row.user {
    margin-bottom: 10px;
    margin-top: 15px;
}

.row.user img.user-picture {
    height: 70px;
    width: 70px;
    border-radius: 50vh;
    margin-left: 10px;
}

/* Nome usuario */
a.user{
    color: white;
}

/* Data da postagem */
.data-update{
    font-size: 12px;    
}

.btn-comment{
    margin-bottom: 10px;
}

/* Comentários */
.row.user.comments {
    border-top: 1px solid #9761E8;
    padding-top: 15px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.comment-reply, .reply-section{
    display: none;
}

.reply-section {
    border-top: 1px solid rgba(255,255,255,.2);
    padding: 15px;
}

.comments-actions i, .comments i{
    justify-content: center;
    margin-right: 25px;
}

/* Menu de opções */
.row.user .dropdown-toggle {
    color: white;
}

.row.user .dropdown-toggle:focus,
.row.user .dropdown-toggle:hover {
    box-shadow: 0px 2px 2px black;
    background-color: var(--roxo-principal);
}

.row.user .dropdown-menu {
    background-color: var(--roxo-principal);
    border-radius: 8px;
    box-shadow: 0px 2px 2px black;

}

.row.user .dropdown-item {
    color: white;
}

.row.user .dropdown-item:hover,
.dropdown-item:focus {
    box-shadow: 0px 2px 2px black;
    color: white;
    background-color: var(--roxo-escuro);
    outline: none;
}

.view-posts .title {
    text-align: center;
    overflow-wrap: break-word;
}

/*Postagem Texto */
.view-posts .post {
    margin-bottom: 10px;
    box-shadow: none;
}

.view-posts .post p {
    font-size: max(18px, 0.8vw);
    overflow-wrap: break-word;
    text-align: justify;
}

/* Postagem Imagem */
.row.post #div-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.post img {
    border-radius: 6px;
    width: 30vw;
    float: right;
    max-height: 75vh;
    margin: 5px;
}

/* Tags */
.tags-text{
    font-size: 15px;
    word-break: break-all;
}

.button-tags{
    margin: 3px;
}

/* Pagination */
nav.pages {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.pages .page-item a {
    background-color: white;
    color: #6C46A6;
    font-size: 18px;
    transition: 0.8s ease;
}

nav.pages .page-item a:hover,
nav.pages .page-item a:focus {
    background-color: #6C46A6;
    color: white;
    box-shadow: none;
}

nav.pages .page-item.actual-page a {
    background-color: #492F70;
    color: white;
}

textarea{
    width: 100%;
}


/* Footer */
.list-inline-item a{
    padding: 5px;
    transition: 0.8s ease;
    border-radius: 8px;
}

.list-inline-item a:focus, .list-inline-item a:hover{
    box-shadow: 0px 2px 2px black;
    border-radius: 8px;
    background-color: var(--roxo-principal);
    outline: none;
}

.list-inline-item i{
    color: white;
    margin: 10px;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;

}

/* Animations */
@keyframes shake {
    0% { transform: rotate(5deg) scale(1.2); }
    25% { transform: rotate(-5deg) scale(1.4); }
    50% { transform: rotate(10deg) scale(1.6); }
    75% { transform: rotate(-10deg) scale(1.4); }
    100% { transform: rotate(5deg) scale(1.2); }
}