/* Formatação padrão */
body{
    background-image: linear-gradient(to right, #472E6E, #5A3B8C, #472E6E);
}

h1, h2, h3, h4, h5, h6{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}



/* Navbar */
.navbar.navbar-expand-lg{
    background-color: #3B275C;
    border-radius: 0 0 4px 4px;
    border-bottom: 1px solid #2B1C42;
}

.navbar-toggler{
    border: 1px solid #2B1C42;
}

.navbar-toggler .fas.fa-bars{
    font-size: 30px;
    color: white;
    
}

.navbar-brand{
    margin-right: 150px;
}

.navbar a{
    color: white;
}

.dropdown-menu{
    background-color: #3B275C ;
}

.dropdown-menu .dropdown-item:hover{
    background-color: #241838 ;
    color: white;
}



/* Corpo */
.conteudo .container{
    background-image: linear-gradient(to right, #523680, #5A3B8C, #523680);
}

/* Footer */

.list-inline-item i{
    color: white;
    margin: 10px;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;

}

.list-inline-item i:hover{
    color: black;
}
